/dms.common/
/dms.commonAS/
/dms.commonSales/
/dms.customer/
/dms.demo/
/dms.framework/
/dms.function/
/dms.gacfca/
/dms.interface/
/dms.manage/
/dms.parent/
/dms.part/
/dms.repair/
/dms.report/
/dms.retail/
/dms.schedule/
/dms.vehicle/
/dms.web/
