body {
	background-color: #4761A9;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
	.page-sidebar {
	background-color: #4761A9;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a
	{
	background: #5b7cd5;
	border-left: 4px solid #31c7b2;
	color: #f1f1f1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover
	{
	border-left: 4px solid #31c7b2;
	background: #3958ad;
}
/*鼠标聚焦根菜单 样式*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.open>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a {
	background: #6581C0;
}
/*鼠标悬停子菜单 样式*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a
	{
	background: #3958ad !important;
	border-left: 4px solid #A20230;
	color: #f1f1f1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu,
	.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
	background: #6581C0;
}
/*标题栏 样式*/
.page-header.navbar {
	background-color: #001C4C;
	/* Top notification menu/bar */
	/* Toggler button for sidebar expand/collapse and responsive sidebar menu */
}
/* 修改图标的样式 */
.page-header.navbar .page-logo .logo-default {
	margin-top: 0px;
}

.page-header.navbar {
	min-height: 48px;
}

.page-logo {
	height: 60px;
	width: 450px;
	float: right;
	background-image: url(../img/logo2.png);
	background-size: 310px auto;
	background-repeat: no-repeat;
}

.page-header.navbar .logo-jepp {
	margin-top: -5px;
	margin-right: 15px;
	height: 29px;
	float: right;
	font-size: 17px;
}
/* textarea固定大小 */
/*  textarea{ resize:none; width:200px; height:200px;} */